body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.border{
    padding: 10px;
    height: 100%;
    box-sizing: border-box;
    background: linear-gradient(120deg, rgb(111, 224, 111), rgba(250, 0, 0, 0.568), rgb(111, 224, 111));
    animation: BGgradient 15s ease infinite;
    background-size: 300%;
}

@keyframes BGgradient{
    0%{
        background-position: 0% 200%;
    }
    50% {
        background-position: 200% 0%;
    }
    100% {
        background-position: 0% 330%;
    }

}

div > div{
    height: 100%;
    background-color: rgb(238, 238, 238);
}